<p id="notice"><%= notice %></p>

<p>
  <strong>Listaid:</strong>
  <%= @detalle.listaid %>
</p>

<p>
  <strong>Articulo:</strong>
  <%= @detalle.articulo %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @detalle.tipo %>
</p>

<p>
  <strong>Idempresa:</strong>
  <%= @detalle.idempresa %>
</p>

<%= link_to 'Edit', edit_detalle_path(@detalle) %> |
<%= link_to 'Back', detalleld_path %>
